
doctype html
html(lang='en')
  head
    title Jade
    style.
     bgrbody = "backgroung-image: url('home/wschat/img/body_db.png')"
  body(style='background-image: url(body_bg.png);')
    script console.log('!!!!!!!')
    script alert('Your email comfirmed \n please use your Kery app');
